.title
  %h1 概要
  %p この家では佐藤三兄弟＋＠の５人が暮らしています。
  %p 佐藤三兄弟がいる限り、多数決をとると毎回佐藤さん達の思い通りになるので、
  %p 佐藤さんを消すことにしました。
  %br
  %h2 問題１
  %p 「全員表示」ボタンを押したら、家の中に家の人全員が表示されるようにしてください。
  %h2 問題２
  %p 「佐藤さんをさがす」ボタンを押したら、家の中に名字が佐藤の人だけが表示されるようにしてください。
  %h2 問題３
  %p 「佐藤さんを消す」ボタンを押したら、家の中に佐藤ではない人が表示されるようにしてください。
  %br
  %h2 補足
  %p content.jsのコメントアウトで囲われた場所を編集して実装するようにしてください。
  %p 問題３はそれなりに時間がかかると思うので、勉強会へのお題は問題２までということで。
.contents
  .left
    .left__list
      %button{class: "left__list__btn"}
        全員表示
    .left__search
      %button{class: "left__search__btn"}
        佐藤さんをさがす
    .left__delete
      %button{class: "left__delete__btn"}
        佐藤さんを消す
  .right
    %ul.right__result
      家の中

